.carrusel-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carrusel-slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carrusel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.carrusel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.carrusel-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

@media screen and (max-width: 768px) {
    .carrusel-container {
        max-width: 100%;
        border-radius: 5px;
    }

    .carrusel-text {
        font-size: 0.9rem;
        bottom: 10px;
        left: 10px;
        right: 10px;
        padding: 8px;
    }

    button {
        font-size: 1.2rem;
        padding: 8px;
    }
}

@media screen and (max-width: 600px) {
    .carrusel-container {
        max-width: 100%;
        border-radius: 5px;
    }

    .carrusel-text {
        font-size: 0.85rem;
        padding: 6px;
    }

    button {
        font-size: 0.9rem;
        padding: 7px;
    }
}

@media screen and (max-width: 400px) {
    .carrusel-container {
        max-width: 100%;
        border-radius: 3px;
    }

    .carrusel-text {
        font-size: 0.8rem;
        padding: 5px;
    }

    button {
        font-size: 0.6rem;
        padding: 6px;
    }
}
