.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222222;
    padding: 20px 0;
    z-index: 1000;
    color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.logo .logoContainer img {
    width: 40px;
    height: auto;
}

.logo .logoContainer p {
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 0;
}

.menu-items li {
    font-size: 16px;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-items .plan a:hover {
    color: red;
}

.menu-items a:hover {
    color: #00bfae;
}

.menu-items li .register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-items li .register-btn {
    background: linear-gradient(180deg, #540072, #4f00b59e);
    color: white;
}

.menu-items li .register-btn:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.679);
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .logoContainer{
        position: absolute;
        left: 18px;
        top: 18px;
    }
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 23px 0;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 100%;
        text-align: center;
    }

    .menu-items.active {
        display: flex;
        margin-top: 25px;
        gap: 18px;
    }

    .hamburger {
        position: absolute;
        right: 15px;
        display: block;
        margin-left: auto;
        cursor: pointer;
        color: #fff;
    }
}
